/* Shared styles for Login and Register components */
.auth-container {
  max-width: 100%; /* Full width on small screens */
  width: 30%; /* Width for larger screens */
  margin: 70px auto; /* Center the container and add top margin */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .auth-container {
    margin: 40px auto;
    padding: 15px;
    width: 90%;
  }

  .auth-container h2 {
    font-size: 24px;
  }

  .auth-container input,
  .auth-container button {
    padding: 10px;
    font-size: 16px;
  }
}
/* Base styles for the navigation item */
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Styles for larger screens */
@media (min-width: 992px) {
  .nav-item {
    flex-direction: row;
    margin: 0 15px;
  }
}

/* Styles for medium screens (tablets) */
@media (max-width: 991px) {
  .nav-item {
    flex-direction: column;
    margin: 5px 0;
  }
}

/* Styles for smaller screens (phones) */
@media (max-width: 767px) {
  .nav-item {
    display: block;
    margin: 10px 0;
  }

  .nav-item a {
    font-size: 14px;
    padding: 8px 0;
  }
}
.svg-inline--fa.fa-cart-shopping {
  font-size: 24px; /* Default size for desktop */
}

@media (max-width: 768px) {
  /* For tablets and small screens */
  .svg-inline--fa.fa-cart-shopping {
    font-size: 20px;
    right : 8px !important;
  }
}

@media (max-width: 480px) {
  /* For mobile phones */
  .svg-inline--fa.fa-cart-shopping {
    font-size: 16px;
    right : 16px !important;
  }
}


@media (max-width: 768px) {
  /* For tablets and small screens */
  .badge.bg-primary.p-1.rounded-pill.mt-1 {
    font-size: 12px;
   
  }
}

@media (max-width: 480px) {
  /* For mobile phones */
  .badge.bg-primary.p-1.rounded-pill.mt-1 {
    font-size: 10px;
    right: -6px !important;
  }
}
